.icon-exclamation-sign {
    color: red;
}
.icon-check {
    color: green;
}
.password-form {
    padding-top: 1em;
    float: left
}
.password-rules {
    float: left;
}
@media (min-width: 590px) {
    .password-rules {
        padding-top: 1em;
        padding-left: 2em;
    }
}
.password-rules ul {
    list-style-type: none;
    margin: 0;
}
.hero-unit {
    padding: 30px;
}
h2 {
    margin: 0;
}
.using {
    font-size: small;
    line-height: normal;
}